<<!DOCTYPE html>
<html>
<head>
<style>
p.padding
{
padding-top:80px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
</style>
</head>

<p>
<p class="padding">
<div class="row">
    <div class="span5">
		<%= image_tag("prabhakar photo.png", :size => "200x200", :alt => "prabhakar photo") %>
	</div>
    
    <div class="span7">
		<p>
PB&Co. was established by CS Prabhakar Battula and is a Corporate Legal Services Firm. PB&Co. is registered as a Practicing Company Secretaries firm with the Institute of Company Secretaries of India (ICSI). Our legal and advisory services play a vital role in implementing robust control mechanisms to facilitate compliance of the challenging and ever changing regulations of the country.</br> </br>
PB&Co. has immense knowledge and experience in dealing with matters relating to Company Law, Securities Laws, inbound and outbound Investment, Legal Due Diligence, Transaction documents, Joint Ventures, Foreign Collaborations, Technology Transfers, Mergers and Acquisitions, Listings and Capital Market Transactions.</br> </br>
PB&Co.’s key offerings also include setting up compliances, approvals from all the government departments including approvals from the Registrar of Companies, Ministry of Corporate Affairs, Foreign Investment Promotion Board (FIPB), Secretariat of Industrial Approvals (SIA), Reserve Bank of India (RBI), Director General of Foreign Trade (DGFT), Software Technology Parks of India (STPI), approvals for establishment of 100% Export Oriented Units (EOU), approvals for establishment of units in the Special Economic Zones (SEZ), Foreign Exchange Regulations, Foreign Direct Investment (FDI) in Real Estate, Retail, Trading, Non-banking finance companies etc.</br> </br>
Headquartered in Hyderabad and has been on the forefront of the corporate sector advising, guiding, servicing and representing many companies’ in India and across the globe. PB&Co. has had a formidable track record and is distinguished by its people, its clients and timely deliverables.</br> </br>
We have experience of over 12 years in handling complex legal issues touching on almost all aspects of Indian Corporate  law.</p></p>
	</div>
</div>
</p>

</html>