<<!DOCTYPE html>
<html>
<head>
<style>
p.padding
{
padding-top:45px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
</style>
</head>

<h1>
<p class="padding">
<div class="row">
    <div class="span3">

<p>CS Prabhakar Battula</br> <br/> 
H.No:2-3-486/1, Road No.7<br/>
Lalitha Nagar, Sai Nagar<br/>
Near Alakapuri Cross Roads<br/>
Hyderabad - 500 068<br/> 
<br/>  
mobile: +91-9676076226<br/>
email: prabhakar.battula@gmail.com<br/>
</p>

</h1>

</html>

